.gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-card {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 5px;
  flex-basis: calc((100% - 48px) / 4);
}

.gallery-image {
  width: 360px;
  height: 200px;
}



.image-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}

.gallery-image-info-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.gallery-text {
  font-weight: bold;
}

.gallery-value {
  text-align: center;
}
