.gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-card {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 5px;
  flex-basis: calc((100% - 48px) / 4);
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.gallery-image-info {
  display: flex;
  flex-direction: row;
}
